!!! 5
%html
	%head<
		%meta{:charset => 'utf-8'}<
		%meta{:name=> "viewport", :content=> "width=device-width, initial-scale=1.0"}<
		%title<
			Speaker and Lamp Products
		%link{:href => "css/normalize.css", :rel => "stylesheet"}<
		%link{:href=> "css/templateStyling.css", :rel => "stylesheet"}<
		%script{:src => "js/jquery-3.2.1.min.js"}<
		%script{:src => "js/mainJS.js"}<
	%body
		%header<
			%div.wrapper
			%div#titlelogo<
				%a{:href => "index.html"}<
					%h1#mainheading<
						Dennis Wong
			%nav<
				%button.menu<>
					MENU
				%ul.nav-list<>
					%li.nav-item<>
						%a.main-nav{:href => "index.html"}<>
							Portfolio
					%li.nav-item<>
						%a.main-nav{:href => "dennis_resume.pdf", :target => "_blank"}<>
							Resume
					%li.nav-item<>
						%a.main-nav{:href => "about.html"}<>
							About and Contact
		%section.mainbody
			%div.project-wrapper<>
				%div.col-1-of-3
					%h1.model-title<
						Speaker and Lamp Products
					%p.model-description<>
						Used to create real world products. As part of product design, these were created to simulate final products. Proof of concepts were created and showed off to public.
					%p.model-description<>
						Responsible for Modeling, Rendering, Design aspects, and building proof of concept.
					%p.model-description<>
						Scenes/Models rendered using SolidWorks.
					%p.model-description<
						Tools: SolidWorks, Illustrator.
				%div.col-2-of-3
					%img.model-image{:src => "img/productmodel/CompilationProducts.jpg", :alt => "Speaker and Lamp shown togather."}<
					%img.model-image{:src => "img/productmodel/337render.jpg", :alt => "Main configuration for the lamp."}<>
					%img.model-image{:src => "img/productmodel/337render2.jpg", :alt => "Second configuration."}<>
					%img.model-image{:src => "img/productmodel/337Render4.jpg", :alt => "Third Configuration."}<>
					%img.model-image{:src => "img/productmodel/1FacedFulSpeakerSmall.jpg", :alt => "Close up shot of modeled speaker"}<>
					%img.model-image{:src => "img/productmodel/Exploded2SidedSpeaker_Small.jpg", :alt => "Expanded view of speaker components."}<>
					%img.model-image{:src => "img/productmodel/SpeakerProof.jpg", :alt => "Proof of concept speaker built and shown off using plaster and wood."}<>
				%div.col-3-of-3.clearfix
					%div.navi-wrap
						%a#project-back{:href => "vidgamerender.html"}<
							%img.navigation-icons{:src => "img/backarrow.png", :alt => "back"}<>
						%a#home-link{:href => "index.html"}<>
							%img.navigation-icons{:src => "img/homeselect.png", :alt => "home"}<>
						%a#project-next{:href => "seasidehome.html"}<>
							%img.navigation-icons{:src => "img/frontarrow.png", :alt => "forward"}<>
				%div.project-link-wrap.mobile-hide<
					%a.project-img-link{:href => "seasidehome.html"}<
						%img.project-img{:src => "img/personalmodel/FinalRenderClose2_front.jpg", :alt => "Personal Modeling project of seaside home"}
						%div.project-img-words<>
							%h2.project-img-Header<>
								Seaside Home
							%h3.project-img-second<>
								\- view -
				%div.project-link-wrap.mobile-hide<
					%a.project-img-link{:href => "vidgamerender.html"}<
						%img.project-img{:src => "img/vidgamemodel/Overview_Cropped_front.jpg", :alt => "Video game 3D models"}
						%div.project-img-words<>
							%h2.project-img-Header<>
								Unity Immersive World
							%h3.project-img-second<>
								\- view -
				%div.project-link-wrap.mobile-hide<
					%a.project-img-link{:href => "productrender.html"}<
						%img.project-img{:src => "img/productmodel/CompilationProducts_front.jpg", :alt => "Product renderings"}
						%div.project-img-words<>
							%h2.project-img-Header<>
								Speaker and Lamp Products
							%h3.project-img-second<>
								\- view -
				%div.project-link-wrap.mobile-hide
					%a.project-img-link{:href => ""}<
						%img.project-img{:src => "img/storageicon.jpg", :alt => "coming soon Picture"}
						%div.project-img-words<>
							%h2.project-img-Header<>
								Model Bank
							%h3.project-img-second<>
								\- Coming Soon -
		%footer<
			%div.footer-left<>
				%p<>
					www.dennisptwong.ca
			%div.footer-right<>
				%a.social-links{:href => "https://www.linkedin.com/in/dennisptwong/"}<>
					%img.social-links{:src => "img/linkedin-512.png"}<>
			%div.wrapper